
/*@font-face {
    font-family: "Futura";
    src: url("C:/Users/Matt/Desktop/website/prelim 1/styles/Futura.woff") format("WOFF");
    font-weight: normal;
}*/

body{
    font-family: 'Times New Roman', Times, serif;
    color:#6d6875;
    background:#ffcdb2;
    /*text-shadow:
    -1px -1px 1px #ffb4a2,  
     1px -1px 1px #ffb4a2,
    -1px  1px 1px #ffb4a2,
     1px  1px 1px #ffb4a2;*/
    margin: 0;
    text-align: center;
}

header{
    margin: 0;
    color: #ffcdb2;
    background: #b5838d;
    text-shadow:
    -2px -2px 2px #6d6875,  
     2px -2px 2px #6d6875,
    -2px  2px 2px #6d6875,
     2px  2px 2px #6d6875;
     text-align: center;
}

.navbar{
    background: #b5838d;
    margin: 0;
    overflow: hidden;
    position: fixed;
    float: left;
    top: 0;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 
    -2px -2px 1px #e5989b,
     2px  2px 1px #e5989b,
    -2px  2px 1px #e5989b,
     2px -2px 1px #e5989b;
}

.navbar a {
    float: center;
    background: none;
}

.navbar ul li:hover{
    background-color: #e5989b;
    
}


nav ul{
    display: inline;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    background-color: #b5838d;
    box-shadow: 
    -2px -2px 2px #6d6875,
     2px  2px 2px #6d6875,
    -2px  2px 2px #6d6875,
     2px -2px 2px #6d6875;
    padding: 1%;
    width: 14%;
    margin: 1%;
    border-radius: 5px;
}

nav ul li a{
    color: #ffcdb2;
    background: none;
    box-shadow: none;
}

h2{
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    
}

table{
    display: inline-block;
    width:90%;
    border-radius: 5px;
    box-shadow: 
    -2px -2px 5px #e5989b,
     2px  2px 5px #e5989b,
    -2px  2px 5px #e5989b,
     2px -2px 5px #e5989b;
}

tr{
    vertical-align: top;
}

.photo{
    vertical-align: top;
    width: 100%;
    margin: 2%;
    padding: 2%;
}

img{
    margin-left: 2%;
    margin-bottom: 2%;
    width: 300%;
    height: 300%;
    box-shadow: 
    -2px -2px 5px #e5989b,
     2px  2px 5px #e5989b,
    -2px  2px 5px #e5989b,
     2px -2px 5px #e5989b;
}


.events{
    width: 40%;
    float: right;
    text-align: left;
    margin-right: 2%;
}

.events h3{
    text-align: center;
}
.events p{
    width: 60%;
}

.abt{
    display: inline-block;
    font-size: x-large;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    box-shadow: 
    -2px -2px 1px #e5989b,
     2px  2px 1px #e5989b,
    -2px  2px 1px #e5989b,
     2px -2px 1px #e5989b;
     padding-bottom: 2%;
     margin-bottom: 2%;
}

.abt p{
    color: #b5838d;
    display: inline-block;
    text-align: center;
    text-align: left;
    width: 70%;
}

footer{
    align-self: bottom;
    text-align: center;
    margin-bottom: 3%;
}
